<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/list-concats"></ion-back-button>
    </ion-button>
    <ion-title><b>{{contact.first_name}}</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-img [src]="contact.avatar"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">{{contact.first_name}} {{contact.last_name}}</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <!-- 8.3º Que el campo Email abra el correo como enlace. -->
        <a href="mailto: {{contact.email}}">{{contact.email}}</a>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
